name: Scrape SSPAI Stats

on:
  schedule:
    - cron: '30 * * * *' # Run at minute 30 of every hour
  workflow_dispatch: # Allow manual trigger

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Run Scraper
        env:
          SSPAI_COOKIE: ${{ secrets.SSPAI_COOKIE }}
          SSPAI_SLUG: ${{ secrets.SSPAI_SLUG }}
        run: node src/fetch_stats.js

      - name: Commit and Push if changed
        run: |
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add data/
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
